/* ======================== SIZE VARIABLE ======================== */

$primary-font-size: 14px;

/* ======================== SIZE VARIABLE ======================== */

/* ======================== COLOR VARIABLE ======================== */

$white-color: #FFF;
$black-color: #000;
$primary-color-left: #7671FF;
$primary-color-right: #88F1FF;
$secondary-white-color: #F9F9FF;
$secondary-primary-color: #8CBAFF;
$primary-star-color: #FFC000;
$secondary-star-color: #969696;
$primary-text-color: #222222;
$secondary-text-color: #777777;
$secondary-color: #e8e8e8;

/* ======================== COLOR VARIABLE ======================== */